
<div class="flex flex-col gap-y-50 lg:flex-row lg:items-start lg:gap-x-50 max-lg:max-w-2xl max-lg:mx-auto">

  <div class="contents lg:flex lg:flex-1 lg:flex-col lg:gap-y-100">
    {{ blocks }}
      {{ if column == 'left' || column == null }}
        <div class="order-{{ index }} lg:order-none">
          {{ partial:components/blocks is_grid="true" }}
        </div>
      {{ /if }}
    {{ /blocks }}
  </div>

  <div class="contents lg:flex lg:flex-1 lg:flex-col lg:gap-y-100">
    {{ blocks }}
      {{ if column == 'right' }}
        <div class="order-{{ index }} lg:order-none">
          {{ partial:components/blocks is_grid="true" }}
        </div>
      {{ /if }}
    {{ /blocks }}
  </div>

</div>
