@import "tailwindcss";
@import "./partials/fonts.css";
@import "./partials/font-sizes.css";
@import "./partials/spacing.css";

@source "../views";
@source "../../content";
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --header-height-sm: 6.875rem;

  --font-sans: 'Dazzed', sans-serif;
  --font-serif: 'Sloop', serif;

  --color-accent: #0000FF;

  --container-inner: 85rem; /* 1360px */
  --container-outer: 112.5rem; /* 1800px */

}

@layer base {
  :root {

  }
}

[x-cloak] {
  display: none !important;
}

strong, b {

}
