{{ is_active = is_current || (url == '/' && segment_1 == 'art') }}
<li class="{{ if last }}lg:ml-auto{{ /if }}">
  <a
    href="{{ url }}"
    aria-label="{{ title }}"
    class="relative inline-grid leading-none text-3xl lg:text-xl {{ !is_active ? 'uppercase lg:pt-36 hover:lg:pt-0 hover:lg:normal-case hover:lg:font-serif hover:lg:font-normal hover:lg:text-4xl' : '' }} {{ is_active ? 'uppercase lg:!normal-case lg:font-serif lg:font-normal lg:text-4xl' : '' }}">
    <span aria-hidden="true" class="hidden lg:block invisible font-serif font-normal text-4xl normal-case leading-none [grid-area:1/1]">
      {{ title }}
    </span>
    <span class="[grid-area:1/1]">
      {{ if mobile_title }}
        <span class="lg:hidden">{{ mobile_title }}</span>
        <span class="hidden lg:inline">{{ title }}</span>
      {{ else }}
        {{ title }}
      {{ /if }}
    </span>
  </a>
</li>
