<li 
  class="{{ if first && !is_current }}lg:mr-90 hover:lg:mr-82{{ /if }} {{ if first && is_current }}lg:mr-82{{ /if }} {{ if last }}lg:ml-auto{{ /if }}">
  <a 
    href="{{ url }}" 
    class="block text-[50px] lg:text-[30px] hover:lg:text-[55px] hover:lg:font-serif hover:lg:font-normal leading-none {{ !is_current ? 'uppercase hover:lg:normal-case' : '' }} {{ is_current ? 'uppercase lg:!normal-case lg:font-serif lg:font-normal text-[50px] lg:text-[55px]' : '' }}"
    aria-label="{{ title }}">
    {{ if mobile_title }}
      <span class="lg:hidden">{{ mobile_title }}</span>
      <span class="hidden lg:inline">{{ title }}</span>
    {{ else }}
      <span>{{ title }}</span>
    {{ /if }}
  </a>
</li>