@font-face {
  font-family: 'Dazzed';
  src: url('../../fonts/Dazzed-SemiBold.woff2') format('woff2'), url('../../fonts/Dazzed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dazzed';
  src: url('../../fonts/Dazzed-SemiBoldItalic.woff2') format('woff2'), url('../../fonts/Dazzed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dazzed';
  src: url('../../fonts/Dazzed-Bold.woff2') format('woff2'), url('../../fonts/Dazzed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sloop';
  src: url('../../fonts/Sloop-ScriptTwo.woff2') format('woff2'), url('../../fonts/Sloop-ScriptTwo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Sloop';
  src: url('../../fonts/Sloop-ScriptThree.woff2') format('woff2'), url('../../fonts/Sloop-ScriptThree.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
