<footer class="pt-60 pb-40 lg:py-40 px-20 lg:px-40 lg:max-w-inner w-full mx-auto mt-60 lg:mt-120 text-[15px] lg:text-[15px] xl:text-[18px]">

  <div class="lg:flex lg:justify-between w-full">

    {{ partial:components/contact }}

    {{ if contact:imprint }}
      <div class="text-center lg:text-left mb-15 lg:mb-0 [&_a]:underline [&_a]:underline-offset-2 [&_a]:hover:no-underline">
        {{ contact:imprint }}
      </div>
    {{ /if }}

    {{ if contact:copyright }}
      <div class="text-center">
        &copy; {{ 'now' | format('Y') }}  {{ contact:copyright }}
      </div>
    {{ /if }}

  </div>

</footer>
