<footer class="py-60 lg:py-40 px-20 text-[15px] lg:text-[18px] leading-[1.2] lg:max-w-[var(--container-inner)] w-full mx-auto">

  <div class="lg:flex lg:justify-between w-full">

    <a 
      href="{{ site:url }}"
      class="block w-65 mx-auto lg:mx-0 mb-24 lg:mb-0"
      aria-label="Valentina Frutig">
      {{ partial:components/logos/icon class="w-full h-auto" }}
    </a>

    <div class="text-center lg:text-left mb-15 lg:mb-0">
      {{ if footer:name }}
        <div>
          {{ footer:name }}
        </div>
      {{ /if }}

      {{ if footer:website }}
        <div>
          <a 
            href="{{ footer:website }}" 
            target="_blank" 
            rel="noopener noreferrer">
            www.artaffairs.ch
          </a>
        </div>
      {{ /if }}
    </div>

    <div class="text-center lg:text-left mb-45 lg:mb-0">
      {{ if footer:email }}
        <div>
          <a 
            href="mailto:{{ footer:email }}"
            class="block"
            aria-label="E-Mail senden">
            {{ footer:email }}
          </a>
        </div>
      {{ /if }}

      {{ if footer:phone }}
        <div>
          <a 
            href="tel:{{ footer:phone }}"
            class="block"
            aria-label="Rufen Sie uns an">
            {{ footer:phone }}
          </a>
        </div>
      {{ /if }}
    </div>
    
    {{ if footer:imprint }}
      <div class="text-center lg:text-left mb-15 lg:mb-0 [&_a]:underline [&_a]:underline-offset-2 [&_a]:hover:no-underline">
        {{ footer:imprint }}
      </div>
    {{ /if }}

    {{ if footer:copyright }}
      <div class="text-center">
        &copy; {{ 'now' | format('Y') }}  {{ footer:copyright }}
      </div>
    {{ /if }}

  </div>

</footer>
