<header class="px-20 lg:px-40 lg:max-w-outer w-full mx-auto lg:flex lg:items-center h-[var(--header-height-sm)] lg:h-[var(--header-height-lg)]">
  <div class="flex justify-between lg:w-full">

    <div 
      class="fixed top-24 left-20 lg:!hidden"
      data-shy>
      <a 
        href="{{ site:url }}"
        class="block w-160"
        aria-label="Valentina Frutig">
      {{ partial:components/logos/logo class="w-full h-auto" }}
      </a>
    </div>

   {{ partial:components/menu/buttons/show class="fixed top-38 right-20 z-50 lg:!hidden" }}
   {{ partial:components/menu/container }}

  </div>
</header>
